<h2>Estadísticas del Quiz de Preguntas</h2><p><br />

<table style="margin: 0px auto"; border="3">
    <tr>
        <td align='right'>Total preguntas: </td>
        <td class="statistics"><%= totalPreguntas %></td>
    </tr>
    <tr>
        <td align="right">Total comentarios: </td>
        <td class="statistics"><%= totalComentarios %></td>
    </tr>
    <tr>
        <td align="right">Media de comentarios %1: </td>
        <td class="statistics"><%= mediaComentarios %></td>
    </tr>
    <tr>
        <td align="right">Preguntas sin comentarios: </td>
        <td class="statistics"><%= sinComentarios %></td>
    </tr>
    <tr>
        <td align="right">Preguntas con comentarios: </td>
        <td class="statistics"><%= conComentarios %></td>
    </tr>
</table>